/* Target card-title inside card-services */
.card-services .card-title {
    margin: 0; /* Set margin to none on all sides */
}

/* Target a inside card-services */
.card-services a {
    display: block; /* Render as block level elements */
    padding: calc(2 * var(--root-font-size)); /* Set padding to 2x the root element */
    background-color: var(--color-light-grey); /* Set background color */
}

/* Target hover state of a inside card-services */
.card-services a:hover {
    color: var(--color-white); /* Set foreground color */
    background-color: var(--color-primary); /* Set background color */
    text-decoration: none; /* Remove text decoration */
}
